.flexWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .left {
    flex: 1;
    order: 1;
    padding: 20px;
  }

  .right {
    flex: 4;
    order: 2;
  }

  form {
    margin: 20px auto;
    position: relative;
    height: 30px;

    input {
      height: 100%;
      font-size: .8em;
    }

    input[type=text] {
      width: 70%;
      position: absolute;
      top: 0;
      left: 0;
    }
    input[type=submit] {
      width: 20%;
      position: absolute;
      right: 0;
      top: 3px;
      border: 1px solid #ddd;
      background: #FFF;
    }
  }
}

.topbar {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background: #48b5e9;
  width: 100%;
  padding: 0 25px;
  height: 80px;
  line-height: 80px;
  color: #fff;

  a {
    /*text-transform: uppercase;*/
    text-decoration: none;
    letter-spacing: 1px;

    line-height: 40px;
    h1 { font-size: 28px; }
  }
  section {
    position: absolute;
    top: 0px;
    right: 75px;
    width: 30vw;
  }
}
